<h1>Chat test</h1>
<%= text_field_tag :message %>
<%= button_tag :send, id: 'send_message' %>
<%= button_tag 'Join the room', id: 'join_room' %>
<%= button_tag 'Send to room', id: 'send_channel' %>
<div class="chatlog"></div>